node_modules
*.log
*.sqlite3
.env
tags
coverage
.DS_Store
.vercel

# allow some dist directory contents to be tracked
/dist/*
!/dist/api
!/dist/public
/dist/public/*
!/dist/public/assets/
!/dist/public/images/
!/dist/public/favicon.*
!/dist/public/index.html