.resultsHeader{
  display: flex;
  justify-content: center;
  text-align: center;
}

.results {
display: flex;

flex-direction: row;
text-align: center;
justify-content: center;

}

.resultsData{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75%;
  
}

.resultsImage {
  padding: 20px 20px 20px 20px;
}
.resultsImg {
  flex-shrink:10;
  flex-basis: auto;
}