
.winner-container {
  text-align: center;
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin: 60px 0px 60px 0px;
  color: black;
}

.image-caption {
  width: max-content;
  text-align: center;
  border-style: solid;
  border-color: rgb(194, 194, 194);
  border-width: 2px;
  border-radius: 1%;
}

.caption {
  color: black;
}